.tutorials-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(100deg, #FF8C00, #FFA500);
}
.tutorials-heading {
    font-size: 54px;
    margin-left: 100px;
    padding-top: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.tutorials-content {
    color: white;
    font-size: 18px;
    margin: auto;
    margin-left: 100px;
    margin-top: 4px;
}
.tutorials-content-container {
    width: 70%;
}